*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body{
    background: url(bg.jpg);
    background:  #B1D0E0;
    background-size: cover;
    height: 100vh;
    background-position: center;
}
header{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 99;
    box-shadow: 0 0 10px #406882;
    background: #6998AB;
}
#chk1{
    display: none;
     
     
}
i{
    color: #fff;
    cursor: pointer;
}
header .logo{
    flex: 1;
    color:#fff;
     
    margin-left: 50px;
    text-transform: uppercase;
    font-size: 15px;
}
header .search-box{
    flex: 1;
    position: relative;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:gray;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
     
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 0;
    transform: scale(0.9);
    background: #1A374D;
    color: #fff;
}
header ul {
  position: relative;
  top: 10px;
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
header ul li a:hover{
    border-bottom: 2px solid cadetblue;
}
header .menu{
    font-size: 2.5em;
    display: none;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: center;
    }
    #chk1:checked ~ ul{
        right: 0;
        
    }
  
}
.image-resize {
    /*width: 400px;*/
    height: 550px;
    object-fit: cover;
    object-position: center center;
}
.img-slider{
    position: absolute; 
    width: 800px;
    height: 500px;
    margin: 110px;
    padding-top: 30px;
    right: 150px;
    
  } 
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    border-radius: 5px;
  }
  
  .img-slider .slide .info{
    position: absolute;
    top: 0;
    padding: 15px 30px;
  }
  
  .img-slider .slide .info h2{
    color: #1A374D;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
  }
  
  .img-slider .slide .info p{
    color: #fff;
    background: rgba(0, 0, 0, 0.1);
    font-size: 16px;
    width: 60%;
    padding: 10px;
    border-radius: 4px;
  }
  
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 80px;
    left: 50%;
    top: 110%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btn{
    background: rgba(255, 255, 255, 0.5);
    width: 6px;
    height: 6px;
    margin: 4px;
    
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  @media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    .img-slider .slide .info{
      padding: 10px 25px;
    }
  
    .img-slider .slide .info h2{
      font-size: 35px;
    }
  
    .img-slider .slide .info p{
      width: 70%;
      font-size: 15px;
    }
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btn{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btn{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }
  
  #form {
    position: relative;
    top: 650px;
    left: -25%;
    width: 450px;
    margin: 20vh auto 0 auto;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 7px;
    font-size: 15px;
    font-style: solid;
    
}
#form h1 {
    color: #1A374D;
    text-align: center;
    margin-bottom: 40px;
}
#form h3 {
    color: #1A374D;
    text-align: left;
    margin-bottom: 40px;
    font-style: oblique;
}
#form button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #1A374D;
    border: none;
    border-radius: 7px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}
#form-second {
    position: relative;
    top: -130px;
    right: -25%;
    width: 450px;
    margin: 20vh auto 0 auto;
    padding: 40px;
    background-color: whitesmoke;
    border-radius: 7px;
    font-size: 15px;
    font-style: solid;
    
}
#form-second h1 {
    color: #1A374D;
    text-align: center;
    margin-bottom: 40px;
}
#form-second h3 {
    color: #1A374D;
    text-align: left;
    margin-bottom: 40px;
    font-style: oblique;
}
#form-second button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: #1A374D;
    border: none;
    border-radius: 7px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 12px;
	padding: 10px;
	width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.paragraph
{
position: relative ;
margin-top: 25px;
margin-bottom: 20px;
padding: 20px 40px;
margin-left: 30px;
margin-right: 30px;
background-color: whitesmoke;
}
.paragraph h2 {
    color: #1A374D;
   text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
}
.paragraph p {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: 'poppins';
    width: 60%;
    padding-top: 30px;
    border-radius: 4px;
    font-weight: 500;
    letter-spacing: 0.5;
     
} 
.bgblock{
  background-color: #B1D0E0;
  margin-right: 10px;
  margin: 10px;
  }
  .footer{
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      margin-right: 10px;
      margin: 10px;
      padding: 10px;
      list-style: none;
  }
  .footer-clean .copyright {
    margin-top:15px;
    text-align:center;
    font-size:20px;
    color:#1A374D;
    margin-bottom:0;
  }
  